/*
.locationList {
  background: red;
}
*/

/*Esto toma valor cuando el componente tiene una
medida de máximo 64em */
@media (max-width: 64em){ 
    .locationList {
        /*background: green;*/
        max-height: 30vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}
